/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet. You don't have to edit this line.*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");
body {
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 100px; background-color: #eae2b7;}
/* Set the font family for any h1, h2, or h3 heading */
h1{font-family: "Playfair Display", Times, serif;text-align: center;}
h2{font-family: "Playfair Display", Times, serif;text-align: center;}
h3 {
  font-family: "Playfair Display", Times, serif;text-align: center;
}
article h3{text-align:center;}
article {
  padding: 10px
}

#portfolio1 div {
  text-align: center;
  width: 100%;
}

p { text-align: center; 
  line-height: 1.5;
padding-right: 10px;
  padding-left: 10px;
   margin: 15%;
 margin-top: 3px;
   margin-bottom: 3px;
  } 

/* The div container constrains the content width within the main container to 600px */
div{
   width: 100%;
   }
img {
  width: 200%;
  max-width: 200px;
  height: auto;
}
hr {
  border: 1px solid black;
width: 65%;
}
/* Add your solution below */
.image-circle {border-radius: 50%;}
header{text-align: center;}
span img{border: 2px solid #003049;}
a,href:link {color: #d62828;}
a:hover {color: #f77f00;}
            ul {
            list-style-position:inside;
           margin-left: 25%;
            }
        ol {
         list-style-position: inside;
         margin-left: 28%;
       }
#image1{text-align: center;}
#Background p {text-align: left;}